[submodule "vendor/lightopenid"]
	path = vendor/lightopenid
	url = git://github.com/kbanman/lightopenid.git
[submodule "vendor/oauthsimple"]
	path = vendor/oauthsimple
	url = git://github.com/jrconlin/oauthsimple.git
