[submodule "app/vendor/lightopenid"]
	path = app/vendor/lightopenid
	url = git://github.com/kbanman/lightopenid.git
[submodule "app/vendor/oauthsimple"]
	path = app/vendor/oauthsimple
	url = git://github.com/jrconlin/oauthsimple.git
